<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valorant Agents</title>
    <link rel="stylesheet" href="css/main.css">
    <script defer src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="module" src="./local-characters.js"></script>
</head>
<body>
<div id="app">
    <div>
        <ul id="agent-list">
            <!-- Added v-on:click here -->
            <li v-for="character in agentsData" @click="getAgent(character.name)">
                <p>{{ character.name }}</p>
                <img :src="'images/' + character.image_url" alt="Agent's Portrait">
            </li>
        </ul>
    </div>
    <!-- Display agent details -->
    <div v-if="agentDetails">
        <h2>{{ agentDetails.agentName }}</h2>
        <p><strong>Role:</strong> {{ agentDetails.role }}</p>
        <p><strong>Description:</strong> {{ agentDetails.description }}</p>
    </div>
    <p v-if="error">{{ error }}</p>
</div>
</body>
</html>
