<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valorant Agents</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/grid.css">
    <script defer src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="module" src="./local-characters.js"></script>
</head>
<body style="background-image: url('./images/valorant.jpg');">
<div id="app">
    <div class="grid-con">
        <ul id="agent-list" class="desktop l-col-start-1  l-col-end-5 col-span-2">
            <!-- Added v-on:click here -->
            <li v-for="character in agentsData" @click="getAgent(character.name)">
                <p>{{ character.name }}</p>
                <img :src="'images/' + character.image_url" alt="Agent's Portrait">
            </li>
        </ul>
    </div>
    <!-- Display agent details -->
    <div class="agent-details" v-if="agentDetails">
        <h2>{{ agentDetails.agentName }}</h2>
        <p><strong>Role:</strong> {{ agentDetails.role }}</p>
        <p><strong>Description:</strong> {{ agentDetails.description }}</p>
        <div class="abilities">
            <h3>Abilities:</h3>
            <ul>
                <li v-for="ability in agentDetails.abilities">
                    <p><strong>{{ ability.displayName }}</strong></p>
                    <p>{{ ability.description }}</p>
                    <img :src="ability.displayIcon" alt="Ability Icon" class="ability-icon">
                </li>
            </ul>
        </div>
    </div>
    <div class="agent-image">
        <img v-if="agentDetails.fullPortraitV2" :src="agentDetails.fullPortraitV2" alt="Full Portrait V2">
    </div>
  
    <p v-if="error">{{ error }}</p>
</div>
</body>
</html>
